<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://js.tosspayments.com/v1/brandpay"></script>


    <script src="https://js.tosspayments.com/v1"></script>
    <script>
        var brandPay = null;
        window.onload = function() {
            // 초기화
            brandPay = BrandPay("<%= clientKey %>", "<%= customerKey %>", {
                redirectUrl: 'http://localhost:9000/auth?a=1',
                // UI 커스터마이징 옵션 설정 (optional)
                ui: {
                highlightColor: '#26C2E3',
                buttonStyle: 'default',
                showNavigationBar: false,
                labels: {
                    oneTouchPay: 'Test Label',
                },
                },
            });

            var paymentBtn = document.getElementById("payment-button");
            var addBtn = document.getElementById("add-button");
            var agreeBtn = document.getElementById("agree-button");
            var getPaymentMethodsBtn = document.getElementById("get-methods-button");

            paymentBtn.addEventListener("click", paymentAction);
            addBtn.addEventListener("click", addBtnAction);
            agreeBtn.addEventListener("click", agreeBtnAction);
            getPaymentMethodsBtn.addEventListener("click", getPaymentMethodsBtnAction);
        }

        function paymentAction() {
            brandPay.requestPayment({
            amount: "<%= amount %>", // 결제 금액
            orderId: 'DRHIIY3KswmB4UWymi2tA', // 주문에 대한 ID 값
            orderName: '토스 티셔츠 외 2건', // 주문명
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            customerEmail: 'customer@example.com', // 고객의 이메일 주소 (optional)
            })
        }

        function addBtnAction() {
            brandPay
                .addPaymentMethod()
                .then(function (methods) {
                    // 성공 처리
                    console.log(methods)
                })
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                    // 사용자가 결제창을 닫은 경우 에러 처리
                    }
                })
        }

        function agreeBtnAction() {
            brandPay.requestAgreement('빌링') // 자동 결제 선택 약관 동의 호출
                .then(function () {
                    // 성공 처리
                    cnosole.log(1)
                })
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                    // 사용자가 결제창을 닫은 경우 에러 처리
                    }
                })
        }

        function getPaymentMethodsBtnAction() {
            brandPay.getPaymentMethods()
                .then(function (methods) {
                    // 성공 처리
                })
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                    // 사용자가 결제창을 닫은 경우 에러 처리
                    }
                })
        }
        
    </script>
  </head>
  <body>
    <section>
        <p>Amount: <%= amount %></p>
      </section>
    <section>
        <button id="payment-button">Pay Order</button>
        <button id="add-button">Add Payment Method</button>
        <button id="agree-button">Request Agreement</button>
        <button id="get-methods-button">Get Payment Methods</button>
    </section>
  </body>
</html>
